[submodule "denoising-diffusion-pytorch"]
	path = denoising-diffusion-pytorch
	url = https://github.com/qazwsxal/denoising-diffusion-pytorch.git
[submodule "PCT_Pytorch"]
	path = PCT_Pytorch
	url = https://github.com/Strawberry-Eat-Mango/PCT_Pytorch.git
